<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<%- include ../partials/head %>
    <body>
        <%- include ../partials/nav %>
        <div class="jumbotron img-fluid">
            <div class="container">
                <%- messages() %>
                <h2>Members Area</h2>
                <div class="container">
                    <p class="h2">Welcome to the <%= title %> area</p>
                    <a href="" class="btn btn-primary btn-md">Learn More</a>
                </div>
            </div>
        </div>
        <%- include ../partials/footer %>
        <%- include ../partials/scripts %>
    </body>
</html>